n8n_workflows/workflows/frappe-site-provisioning.json
{
  "name": "Frappe Site Provisioning - Complete Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "provision-site",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Site Provision",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "provision-site"
    },
    {
      "parameters": {
        "jsCode": "// Generate shop slug from shop name\nconst body = $input.first().json;\n\nconst shopName = body.shopName || 'myshop';\nconst shopSlug = shopName\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '')\n  .substring(0, 50);\n\n// Generate secure temporary password\nconst tempPassword = 'Billed@' + Math.random().toString(36).slice(2, 12) + Math.floor(Math.random() * 100);\n\n// Determine domain based on environment\nconst domain = body.env === 'production' ? 'billed.in' : 'localhost';\nconst siteUrl = body.env === 'production' \n  ? `https://${shopSlug}.billed.in` \n  : `http://${shopSlug}.localhost`;\n\nreturn {\n  json: {\n    ...body,\n    shopSlug,\n    tempPassword,\n    siteUrl,\n    fullSiteName: `${shopSlug}.${domain}`,\n    status: 'initiated',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "slug-generator",
      "name": "Generate Slug & Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validate and check for duplicate sites\nconst data = $input.first().json;\nconst fs = require('fs');\nconst path = require('path');\n\nconst sitesPath = '/home/frappe/sites';\nconst fullSiteName = data.fullSiteName;\n\ntry {\n  const exists = fs.existsSync(path.join(sitesPath, fullSiteName));\n  if (exists) {\n    return {\n      json: {\n        ...data,\n        error: 'Site already exists',\n        status: 'failed'\n      }\n    };\n  }\n  return { json: { ...data, status: 'validated' } };\n} catch (e) {\n  return { json: { ...data, status: 'validated', skipCheck: true } };\n}"
      },
      "id": "validate-site",
      "name": "Check Duplicate Site",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "={{ $json.dockerContainer }}",
        "additionalArgs": "={{ $json.dockerArgs }}",
        "options": {
          "command": "={{ $json.dockerCommand }}"
        }
      },
      "id": "create-site-cmd",
      "name": "Docker - Create Site",
      "type": "n8n-nodes-base.dockerCreate",
      "typeVersion": 1,
      "position": [1000, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "wait": 60,
        "timeout": 300,
        "reset": false,
        "continueOnFail": false
      },
      "id": "wait-database",
      "name": "Wait for Database (60s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "command": "docker exec frappe_docker-backend-1 bench --site {{ $json.fullSiteName }} install-app india_compliance",
        "options": {}
      },
      "id": "install-india-compliance",
      "name": "Docker - Install India Compliance",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1500, 150],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "docker exec frappe_docker-backend-1 bench --site {{ $json.fullSiteName }} install-app electrical_trader_pack",
        "options": {}
      },
      "id": "install-electrical-app",
      "name": "Docker - Install Electrical App",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1500, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "docker exec frappe_docker-backend-1 bench --site {{ $json.fullSiteName }} set-config enable_scheduler 1 || true",
        "options": {}
      },
      "id": "enable-scheduler",
      "name": "Enable Scheduler",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1500, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Create user in Frappe\nconst data = $input.first().json;\n\nconst email = data.email;\nconst firstName = data.ownerName?.split(' ')[0] || 'Owner';\nconst lastName = data.ownerName?.split(' ').slice(1).join(' ') || '';\n\nreturn {\n  json: {\n    ...data,\n    userCommands: [\n      `docker exec frappe_docker-backend-1 bench --site ${data.fullSiteName} create-user \"${email}\" --first-name \"${firstName}\" --last-name \"${lastName}\" --password \"${data.tempPassword}\"`,\n      `docker exec frappe_docker-backend-1 bench --site ${data.fullSiteName} add-user-role \"${email}\" \"System Manager\"`\n    ]\n  }\n};"
      },
      "id": "prepare-user",
      "name": "Prepare User Creation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "command": "={{ $json.userCommands[0] }}",
        "options": {}
      },
      "id": "create-user",
      "name": "Docker - Create User",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2000, 250],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "={{ $json.userCommands[1] }}",
        "options": {}
      },
      "id": "add-user-role",
      "name": "Docker - Add System Manager",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2000, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "fromEmail": "noreply@billed.in",
        "toEmail": "={{ $json.email }}",
        "subject": "Your Billed Account is Ready! 🚀",
        "body": "=Hello {{ $json.ownerName }},\n\n🎉 Congratulations! Your Billed account is ready!\n\n═══════════════════════════════════════\n\n📍 Shop Name: {{ $json.shopName }}\n🌐 Dashboard: {{ $json.siteUrl }}\n📧 Login Email: {{ $json.email }}\n🔐 Password: {{ $json.tempPassword }}\n\n═══════════════════════════════════════\n\n📋 What's Included:\n{{ $json.plan === 'free' ? '• 50 invoices/month\\n• 1 user\\n• Basic reports' : ($json.plan === 'starter' ? '• 500 invoices/month\\n• 3 users\\n• E-way bills\\n• WhatsApp alerts' : '• Unlimited invoices\\n• 10 users\\n• Multi-branch\\n• API access') }}\n\n⚡ Next Steps:\n1. Visit {{ $json.siteUrl }}\n2. Login with your credentials\n3. Complete your business profile\n4. Start creating invoices!\n\nNeed help? Reply to this email or call us.\n\n- Team Billed",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 4,
      "position": [2250, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.gupshup.io/failsafe/wam/sendTemplateMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "api_key", "value": "={{ $env.GUPSHUP_API_KEY }}" },
            { "name": "destination", "value": "={{ '91' + $json.phone }}" },
            { "name": "template_id", "value": "billed_welcome" },
            { "name": "params", "value": "{{ $json.shopName }},{{ $json.siteUrl }},{{ $json.email }}" }
          ]
        },
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2250, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Site provisioning initiated', site: $json.siteUrl, shopSlug: $json.shopSlug } }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $json.error || 'Provisioning failed' } }}"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 500]
    }
  ],
  "connections": {
    "Webhook - Site Provision": {
      "main": [
        [{ "node": "Generate Slug & Password", "type": "main", "index": 0 }]
      ]
    },
    "Generate Slug & Password": {
      "main": [
        [{ "node": "Check Duplicate Site", "type": "main", "index": 0 }]
      ]
    },
    "Check Duplicate Site": {
      "main": [
        [{ "node": "Docker - Create Site", "type": "main", "index": 0 }],
        [{ "node": "Error Response", "type": "main", "index": 0 }]
      ]
    },
    "Docker - Create Site": {
      "main": [
        [{ "node": "Wait for Database (60s)", "type": "main", "index": 0 }]
      ]
    },
    "Wait for Database (60s)": {
      "main": [
        [
          { "node": "Docker - Install India Compliance", "type": "main", "index": 0 },
          { "node": "Docker - Install Electrical App", "type": "main", "index": 0 },
          { "node": "Enable Scheduler", "type": "main", "index": 0 }
        ]
      ]
    },
    "Docker - Install India Compliance": {
      "main": [
        [{ "node": "Prepare User Creation", "type": "main", "index": 0 }]
      ]
    },
    "Docker - Install Electrical App": {
      "main": [
        [{ "node": "Prepare User Creation", "type": "main", "index": 0 }]
      ]
    },
    "Enable Scheduler": {
      "main": [
        [{ "node": "Prepare User Creation", "type": "main", "index": 0 }]
      ]
    },
    "Prepare User Creation": {
      "main": [
        [
          { "node": "Docker - Create User", "type": "main", "index": 0 },
          { "node": "Docker - Add System Manager", "type": "main", "index": 0 }
        ]
      ]
    },
    "Docker - Create User": {
      "main": [
        [{ "node": "Send Welcome Email", "type": "main", "index": 0 }]
      ]
    },
    "Docker - Add System Manager": {
      "main": [
        [{ "node": "Send WhatsApp Alert", "type": "main", "index": 0 }]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    },
    "Send WhatsApp Alert": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata"
  },
  "staticData": null,
  "tags": ["provisioning", "saas", "frappe", "site-creation"],
  "triggerCount": 1,
  "updatedAt": "2026-04-14T21:00:00.000Z",
  "versionId": "1"
}
